<% if @article.errors.any?%>
<h2>Following errors prevented form from submission!</h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @article do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title, class:'form-control', placeholder:'Title' %>
    </p>

    <p>
        <%= f.label :description %><br>
        <%= f.text_area :description, class:'form-control', placeholder:'Description' %>
    </p>

    <p>
        <div class="d-flex">
            <div class=""> <%= f.submit class:'btn btn-danger btn-sm' %> </div> 
            <div class="ml-3"><%= link_to 'Back to Articles', articles_path, class:'btn btn-secondary btn-sm' %></div>
        </div>
      
    </p>

<% end %>

