<div class="card shadow px-3 py-3">

<h4>Article Detail</h4>
<p>Article: <%= @article.title%></p>
<p>Description: <%= @article.description%></p>


 <div class="d-flex">
       <% if logged_in? && current_user == @article.user %>

            <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>

            <%= link_to "Delete this article", article_path(@article), method: :delete,

            data: { confirm: "Are you sure you want to delete the article?"},

            class: "btn btn-xs btn-danger" %>

    <% end %>
    <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success" %>
</div>


</div>

